<div class="card m-5">
    <div class="card-body">
        <h5 class="card-title"><a href='/post/{{id}}'>{{title}}</a></h5>
        <hr>
        <p class="card-text">{{post_text}}</p>
        <h6 class="card-subtitle text-muted" id="card-details">Posted by: {{user.username}} on {{timestamp}} </h6>
    </div>
</div>